@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto:ital,wght@0,400;1,300&display=swap');

body {
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-test: rgb(136, 146, 176);
  --color-steel: #0A1612;
  /* --color-denim: #1A2930; */
  --color-denim: rgb(10, 25, 47);
  --color-denim-s1: #152126;
  --color-denim-s2: #10191D;
  --color-denim-s3: #0A1013;
  --color-denim-t1: #395969;
  --color-denim-t2: #578AA1;
  --color-denim-t3: #8EB1C2;
  --color-denim-t4: #C6D8E0;
  --color-border: #FFFFFF34;
  --font-roboto: 'Roboto', sans-serif;
  --font-condensed: 'Roboto Condensed', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-color: rgb(136, 146, 176);
  --font-color-title: rgb(100, 255, 218);
}

/* Global classes */
.font-roboto {
  font: normal 300 18px var(--font-roboto);
}

.font-condensed {
  font: normal 300 18 px var(--font-condensed);
}

.bgcolor-steel {
  background-color: var(--color-steel);
}

.text-color-default {
  color: var(--font-color);
}

.text-color-title {
  color: var(--font-color-title);
}

.font-size-40 {
  font-size: 40px;
}
.font-size-34 {
  font-size: 34px;
}
.font-size-27 {
  font-size: 27px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-16 {
  font-size: 16px;
}

.width-fill {
  width: 100%;
}

/* #Global classes */

/* Left Navigation */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  transition: left .5s ease;
}

#header nav {
  height: 100vh;
}

#header .site-title .navbar-brand {
  letter-spacing: 2px;
  color: var(--color-white);
}

/* Left navigation links */
#header .nav-link {
  margin: .7rem 1rem;
  border-bottom: 1px solid var(--color-border);
  text-transform: uppercase;
  font-weight: bold;
}

/* Hover effect of links */
#header .nav-link:hover {
  color: var(--color-white)!important;
}

/* Top right toggle button */
#header .toggle-button {
  background: none;
  color: var(--color-black);
  position: fixed;
  top: 25px;
  right: 20px;
  border: none;
}

.profile-img {
  border-radius: 100%;
  width: 50%;
  margin-bottom: 10px;
}

/* Slide out left navigation */
.toggle-left {
  left: 0 !important;
  width: 1000px !important;
}

/* Main section */

/* Banner */
.site-banner .banner-area {
  background-color: var(--color-denim);
  height: 100vh;
  position: relative;
}

.site-banner .banner-area .author {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.site-banner .banner-area .author .author-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  background: url('/assets/images/profile.jpg');
  background-size: 150%;
  background-position: 40% 10%;
}
/* #Banner */

/* About */
.about-area {
  background-color: var(--color-denim);
  position: relative;
}
/* #About */

/* Projects */
.projects-area {
  background-color: var(--color-denim);
  position: relative;
}

.project {
  padding-bottom: 20px;
}
/* #Projects */

/* Skills */
.skills-area {
  background-color: var(--color-denim);
  position: relative;
}
/* #Skills */

/* Contact */
.contact-area {
  background-color: var(--color-denim);
  position: relative;
}
/* #Contact */

/* #Main section */

/* Transitions */
.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}
/* #Transitions */

@media (max-width: 812px) {
  .about-desc {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 20px;
  }
  
  .about-img-box {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .profile-img-box {
    display: none;
  }

  .nav-name {
    display: none;
  }
}